<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Person>
    <Name>
      <FirstName>Kam</FirstName>
      <LastName>Lagan</LastName>
    </Name>
    <Age>21</Age>
  </Person>
  <MySettings>
    <Id>901</Id>
    <SubSettings>
      <Name>app.config</Name>
    </SubSettings>
  </MySettings>
</configuration>